*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Usamos flexbox en el body para centrar el contenedor en pantalla*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10vh;
    background-color: rgb(108, 59, 59); /*estaria guay meter una foto de fondo rollo un paisaje*/
}


header {
    grid-area: head;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    
}

/* Configuramos container con grid: para distribuir los elementos en varias filas*/
.container {
    grid-area: card;
    display: grid;
    width: 100%; /*no estoy segura*/
    height: 250px; /*no estoy segura*/
    grid-template-areas:  /*definimos la cuadricula*/
    "head" "head" "head" "head"
    "card" "card" "card" "card"
    "card" "card" "card" "card"
    "card" "card" "card" "card"
    "card" "card" "card" "card"
    "footer" "footer" "footer" "footer";

    grid-template-columns: repeat(4, 8rem);  /* 4 columnas */
    grid-template-rows: repeat(6, 14.5rem);  /* 6 filas */
    gap: 1rem;  /* Espacio entre cartas */
}


/* A .card le asignamos ancho y alto definido y estilo, además de centrar el texto dentro de cada carta  */
.card {
    width: 8rem;
    height: 14.5rem;
    background-color: #8e9a8e; /*estaria guay que fuese una foto de la parte de atras de una carta real*/
    color: rgba(88, 83, 83, 0.619);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 0.5rem;
}

#a {
    grid-area: footer;
}
